body{
    background-color: rgb(20, 28, 52);
    margin: 0;
    border: 0;
    padding: 0;
}
nav{
    margin: 0;
    border: 0;
    padding: 0;
}
nav ul{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;

    margin-top: 25px;
    border: 0;
    padding: 0;
    
}
nav li{
    margin: 0;
    border: 0;
    padding: 0;
}
nav li a{
    text-decoration: none;
    font-family: arial;
    font-weight: 500;
    color: white;
    font-size: 18px;
    margin-right: 100px;
    position: relative;
}
nav ul li a::after{
    display: flex;
    content: '';
    width: 0%;
    height: 3px;
    background-color: #ff4c74;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;  
}
.NavDiv{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 10px;
}
.NavImg{
    margin-left: 200px;
    height: 60px;
}
.ph1{
    margin-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 600;
    color: #fff;
}
.ph2{
    color: #fff;
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-top: 0;
}
.ph3{
    margin: 0;
    border: 0;
    padding: 0;

    margin-left: 220px;
    color:#fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.pInd{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-bottom: 30%;
}
.sTXTgrid{
    display: grid;
    
    grid-template-columns: 800px 3fr;
    gap: 20%;
}
.sT{
    background-color: rgb(25, 35, 67);
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    margin-left: 300px;
    padding: 20px 10px;
}
.AboutBtn{
    background-color: #ff4c74;
    border-radius: 5000px;
    padding: 4px 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-left: 38%;
    position: relative;
    text-decoration: none;
}
.CVBtn{
    background-color: #ff4c74;
    border-radius: 5000px;
    padding: 4px 10px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-align: center;
    margin-left: 190px;
    position: relative;
    text-decoration: none;
}
.ImgC{
    margin-bottom: 20px;
}
.AboutDiv{
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10%;
    margin: 40px;
    height: 400px;
}
.ATXT{
    background-color: rgb(25, 35, 67);
    border-radius: 15px;
}
.PList{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;

}
.pL{
    color: #c5c3c3;
    margin: 10px;
    margin-bottom: 20px;
}
.ah2{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 50px;
}
.ap{
    color: #fff;
    margin: 20px;
}
.ProDiv{
    display: grid;
    margin: 120px;

    background-color: rgb(25, 35, 67);
    border-radius: 15px;
    margin-top: 10px;
}
.Proh1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    margin-left: 40px;
}
.ProPdiv{
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 3fr 3fr;
}
.ProPstyle{
    color: #ff4c74;
    margin-left: 10px;
    margin: 50px;
}
.ProNum{
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
}
.ProLink{
    color: #fff;
    text-decoration: underline;
}
.ContactDiv{
     display: grid;
     grid-template-columns: 2fr 2fr;
     grid-template-rows: 2fr;

     background-color: rgb(25, 35, 67);
     border-radius: 15px;
     padding: 20px 20px;
     padding-bottom: 215px;

     margin: 120px;
     margin-top: 10px;
}
.ContactForm{
    width: fit-content;
    margin-top: 39px;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background-color: rgb(33, 46, 88);
    color: #fff;
    padding: 15px;
    margin: 15px 0;
    font-size: 16px;
    border-radius: 6px;
}
form button{
    background-color: #ff4c74;
    border: 0px;
    border-radius: 6px;
    padding: 10px 20px;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.Contacth1{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 550;
    margin-top: 15px;
    margin-bottom: 100px;
    text-align: center;
}
.ContactLeft{
    margin-left: 20px;
}
.ContactP{
    color: #fff;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.ContactA{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.ContactBtnCv{
    background-color: #ff4c74;
    border-radius: 6px;
    color: #fff;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.ContactIcon{
    margin-bottom: 50px;
}
.ContactIconA{
    text-decoration: none;
}


