body{
    background-color: rgb(20, 28, 52);
    margin: 0;
    border: 0;
    padding: 0;
}
nav{
    margin: 0;
    border: 0;
    padding: 0;
}
nav ul{
    list-style: none;
    display: flex;
    align-content: center;
    justify-content: center;

    margin-top: 25px;
    border: 0;
    padding: 0;
    
}
nav li{
    margin: 0;
    border: 0;
    padding: 0;
}
nav li a{
    text-decoration: none;
    font-family: arial;
    font-weight: 500;
    color: white;
    font-size: 18px;
    margin-right: 100px;
    position: relative;
}
nav ul li a::after{
    display: flex;
    content: '';
    width: 0%;
    height: 3px;
    background-color: #ff4c74;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.4s;
}
nav ul li a:hover::after{
    width: 100%;  
}
.NavDiv{
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 10px 10px;
}
.NavImg{
    margin-left: 300px;
    height: 90px;
}
